template
  require(from="./nav-footer.css")

  footer#nav-footer
    div.group.left
      span Attributions:&nbsp;
      a(href="https://commons.wikimedia.org/wiki/File:Twenty_sided_dice.svg" target="_blank") Logo
      | &nbsp;&vert;&nbsp;
      a(href="https://material.io/tools/icons/?search=image&style=baseline" target="_blank") Material Icons
    div.group.right
      a(href="https://docs.cs50.net/2018/x/project/project.html" target="_blank") CS50 Project
      span &nbsp;by&nbsp;
      a(href="https://github.com/LetsZiggy/CS50-Project" target="_blank") LetsZiggy
